@import "./Mixins/Colors";
@import "./Mixins/Fonts";

//? ESTRUCTURANDO EL ESPACIO DE TRABAJO
.CanvasLayer {
  background-color: $backgroundColor;
  width: 1920px;
  height: 1080px;
  display: grid;
  grid-template-rows: 10% 80% 10%;
  grid-template-columns: 20% 80%;
  position: fixed;

  .Aside {
    grid-row: 1/4;

    .AsideContent {
      height: 864px;
      margin: 20px;
      display: grid;
      grid-template-rows: 20% 80%;

      .LogoContainer {
        grid-row-start: 1;
        align-self: center;
        justify-content: center;
        color: $elementColor;
        margin-top: 100px;
        margin-left: 80px;
      }

      .ButtonRouters {
        height: 732px;
        grid-row-start: 2;
        align-self: center;

        display: grid;
        grid-template-rows: 20% 20% 20% 20% 20%;
        margin-top: 250px;

        .Btn-Cont {
          color: $elementColor;
          width: 370px;
          height: 70px;
          display: flex;
          justify-content: center;
          align-items: center;
          text-decoration: none;

          .IconRouter {
            margin: 20px 0 20px 0;
          }

          .ButtonRouter {
            background-color: transparent;
            margin: 20px 0 20px 20px;
            border: none;
            font-size: $tagSize;
            cursor: pointer;
          }

          &:focus {
            background-color: $primaryColor;
            border-radius: 30px 0 0 30px;
          }
        }

        @mixin Btn-Routers {
          justify-self: center;
          align-self: center;
        }
        .Cont_Sales {
          @include Btn-Routers();
        }

        .Cont_Products {
          @include Btn-Routers();
        }

        .Cont_Users {
          @include Btn-Routers();
        }
      }
    }
  }
}
