//? COLOR DE FONDO
$backgroundColor: #616161;

//? COLOR PRINCIPAL DEL CONTENIDO
$primaryColor: #fefbf3;

//? COLOR INFORMACION DEL FORMULARIO
$secundaryColor: #eeeeee;

//? COLOR DE LOS ICONOS, TITULOS ETC...
$elementColor: #fb9300;
