@mixin CanvasLayer($backgroundColor) {
  background-color: $backgroundColor;
  width: 1920px;
  height: 1080px;
  display: grid;
  grid-template-rows: 10% 80% 10%;
  grid-template-columns: 20% 80%;
}

@mixin Distribution {
  .Header {
    margin: 10px 10px 10px 0;
    grid-column: 2 / 3;
    grid-row: 1;
  }

  .Main {
    margin: 10px 10px 10px 0;
  }

  .Footer {
    margin: 10px 10px 10px 0;
    grid-column: 2 / 3;
    grid-row: 3;
  }

  .Aside {
    grid-row: 1/4;
  }
}
